[color]
	ui = auto
[user]
	email = r0zbot@users.noreply.github.com
	name = r0zbot
[push]
	default = matching
[credential]
	helper = cache
[delta]
	syntax-theme = Monokai Extended 
	line-numbers = true
	side-by-side = true
	hunk-header-style = syntax
	# hunk-header-style = omit
	commit-style = bold yellow
	file-style = bright-yellow
[core]
    pager = delta  --24-bit-color always
[interactive]
    diffFilter = delta --color-only
